# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# IntelliJ IDEA
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle

# Other
eclipse
run
runs
run-data

# Minecraft Modding
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

# Added by NeoForge
repo